/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fundo geral */
body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(135deg, #74ebd5, #ACB6E5);
}

/* Container principal */
.container {
    background: white;
    padding: 30px;
    border-radius: 20px;
    text-align: center;

    box-shadow: 0 10px 30px rgba(0,0,0,0.2);

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Título */
h1 {
    margin-bottom: 20px;
    color: #333;
}

/* Cenário */
.cenario {
    width: 300px;
    height: 300px;

    background-image: url("imagens/fundo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 15px;

    margin-bottom: 10px; /* espaço abaixo do cenário */
}

/* Bichinho */
#b {
    width: 200px;
    transition: transform 0.3s ease;
    filter: drop-shadow(0 10px 10px rgba(0,0,0,0.4));
}

#b:hover {
    transform: scale(1.1);
}

/* Texto de status (fala) */
#status {
    margin-top: 10px;
    margin-bottom: 15px;

    font-size: 18px;
    color: #555;
    font-weight: bold;
}

/* Botão (comida) */
#botao {
    width: 90px;
    cursor: pointer;

    transition: transform 0.2s, filter 0.2s;
}

/* Hover botão */
#botao:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}

/* Clique */
#botao:active {
    transform: scale(0.95);
}